<plugin>
    <groupId>org.graalvm.python</groupId>
    <artifactId>graalpy-maven-plugin</artifactId>
    <version>24.1.2</version>
    <executions>
        <execution>
            <configuration>
                <packages>
                <package>numpy==2.0.0</package>
                <package>idna==3.4</package>
                <package>charset-normalizer==3.1.0</package>
                <package>pytz==2022.6</package>
                <package>pytest==8.3.2</package>
                </packages>
            </configuration>
            <goals>
                <goal>process-graalpy-resources</goal>
            </goals>
        </execution>
    </executions>
</plugin>